*{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.conatiner-listdisplay{
    width: auto;
    /* margin-right: 200px; */
}
.card{
    margin-top: 25px;
    margin-right: 20px;
    height: 250px;
    padding: 10px;
    box-shadow: 3px 5px 4px 5px #888888;
}

.card:hover{
   background-color: wheat;
   color: red;
}

img{
    margin-top: 6px;
}

hr{
    width: 250px;
    border-top: 3px dotted red;
}

.container-nodata{
    margin-top: 15px;
    margin-left: 30px;

}